* {
	margin: 0;
	padding: 0;
}

.container {
	padding-top: 30px;
	width: 100%;
	height: 500px;
	background-color: #221FDE;
	font-family: sans-serif;
	overflow: hidden;
}

h1 {
	font-size: 30px;
	font-weight: 800;
	color: white;
	text-align: center;
}

.jenjang, .tampilJurusan {
	width: 200px;
	height: 50px;
	color: blue;
	font-weight: bold;
	background-color: yellow;
	margin: 50px auto;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	cursor: pointer;
	transition: .5s;
}

.jurusan {
	display: none;
}

.ipa {
	background-color: chartreuse;
}

.ips {
	background-color: rgb(19, 230, 124);
}

.tampilJurusan {
	width: 100px;
	height: 50px;
	margin: .5px auto;
	text-align: center;
	line-height: 50px;
	display: block;
	border-radius: 10px;
	animation: faspel 1s ease-in;
}

.hoverJur {
	width: 150px;
}

.sma {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.hover {
	width: 250px;
	height: 70px;
	font-size: 1.3em;
	text-align: center;
	line-height: 70px;
}

.promo {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 9999;
	text-align: center;
	padding: 100px 0;
}

.tampil {
	width: auto;
	height: auto;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	transition: .5s;	
}

.close {
	width: auto;
	height: auto;
	background-color: darkgreen;
	padding: 5px;
	color: white;
	font-family: sans-serif;
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: .8em;
}

.hoverNav {
	font-size: 1.1em;
	transition: .3s;
}

.hoverClose {
	font-size: 1em;
	transition: .3s;
}

.tampilSd, .tampilSmp, .tampilSma {
	width: auto;
	height: 300px;
	padding: 30px;
	margin-left: 450px;
	margin-top: 120px;
	text-align: left;
	list-style-position: inside;
	border-radius: 30px;
	animation: faspel 1s ease-in;
}

.tampilSmp {
	width: 450px;
	height: 350px;
}

.tampilSma {
	width: 450px;
	height: 400px;
}

td {
	padding: 5px;
}

.fasPel strong {
	padding-left: 120px;
}

.fasPel li {
	margin-right: 10px;
}

.next {
	width: auto;
	height: auto;
	padding: 5px;
	background-color: seagreen;
	position: absolute;
	bottom: 5px;
	right: 20px;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}

.prev {
	width: auto;
	height: auto;
	padding: 5px;
	background-color: seagreen;
	position: absolute;
	bottom: 5px;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}

.logo {
	margin-top: 13px;
	text-align: center;
}




/* RESPONSIVE BREAK POINT */
@media screen and (max-width: 1100px) {
	.tampilSd, .tampilSmp, .tampilSma {
		margin-left: 220px;
	}

	.fasPel strong {
		padding-left: 100px;
	}
}

@media screen and (max-width: 800px) {
	.tampilSd, .tampilSmp, .tampilSma {
		margin-left: 100px;
		margin-right: 100px;
	}

	.fasPel strong {
		padding-left: 80px;
	}
}

@media screen and (max-width: 590px) {
	.tampilSd, .tampilSmp, .tampilSma{
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 160px;
	}

	.tampilSma {
		width: 350px;
	}

	.fasPel strong {
		padding-left: 50px;
	}
}

@media screen and (max-width: 450px) {
	.tampilSd, .tampilSmp, .tampilSma{
		height: 350px;
		width: 280px;
		margin-right: 70px;
		margin-left: 18px;
		margin-top: 100px;
		padding-top: 50px;
	}

	.fasPel strong {
		padding-left: 40px;
	}

	.contHeight {
		height: 560px;
		transition: .7s;
	}
	.logo {
		transform: scale(.85);
		margin-right: 40px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 420px) {
	.tampilSd, .tampilSmp, .tampilSma{
		margin-right: 70px;
		margin-left: 40px;
		margin-top: 120px;
		padding-top: 50px;
	}

	.tampilSma {
		height: 380px;
	}
}

@media screen and (max-width: 350px) {
	.tampilSd, .tampilSmp, .tampilSma{
		height: 350px;
		width: 200px;
		margin-right: 70px;
		margin-left: 30px;
		margin-top: 80px;
	}

	td {
		padding: 0;
	}

	.fasPel span {
		font-size: smaller;
	}

	.fasPel strong {
		font-size: smaller;
		padding-left: 10px;
	}

	.contHeight {
		height: 600px;
		transition: .7s;
	}

	.logo {
		transform: scale(.65);
		margin-right: 120px;
		margin-top: 5px;
	}

	.next, .prev {
		font-size: smaller;
	}
}


/* Animasi */

@keyframes faspel {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}